.img-sm {
  width: 46px;
  height: 46px;
}

.BG{
  background-color: #1d8ecd;
}

.panel {
  box-shadow: 0 2px 0 rgba(0,0,0,0.075);
  border-radius: 0;
  border: 0;
  margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-body {
  padding: 25px 20px;
  width: 1200px;
}

.design{
  color: black;
}

.media-block .media-left {
  display: block;
  float: left
}

.media-block .media-right {
  float: right
}

.media-block .media-body {
  display: block;
  overflow: hidden;
  width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
  vertical-align: middle
}

.thumbnail {
  border-radius: 0;
  border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
  padding: 5px 10px;
}

.tag:not(.label) {
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #cdd6e1;
  font-size: 12px;
  line-height: 1.42857;
  vertical-align: middle;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
  color: #acacac;
}
.text-sm {
  font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
  line-height: 1.25;
}

.btn-trans {
  background-color: transparent;
  border-color: transparent;
  color: #929292;
}

.btn-icon {
  padding-left: 9px;
  padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
  padding: 5px 10px !important;
}



.nav-link {
  color: black !important;
  font-size: 1.2rem;
  margin-left: 30px;
}

.nav-link:hover {
  color: rgb(206, 0, 0) !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;

}

#title {
  background: linear-gradient(-45deg,  #1BFFFF,  #2E3192,  #38EF7D, #11998E);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 80vh, 200vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#comments {
  background-color: aliceblue;
}










body{
  background-color: #f4f7f6;
  margin-top:20px;
}
.card {
  background: #F4DFC8;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea
}

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.people-list .chat-list li:hover {
  background: #DFCCFB;
  cursor: pointer
}

.people-list .chat-list li.active {
  background: #FFC7EA
}

.people-list .chat-list li .name {
  font-size: 15px
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 8px
}

.people-list .status {
  color: #999;
  font-size: 13px
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff
}

.chat .chat-history ul {
  padding: 0
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat .chat-history .message-data {
  margin-bottom: 15px
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .my-message {
  background: #FBECB2
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}

.chat .chat-history .other-message {
  background: #F4DFC8;
  text-align: right
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%
}

.chat .chat-message {
  padding: 20px
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
      height: 465px;
      width: 100%;
      overflow-x: auto;
      background: #fff;
      left: -400px;
      display: none
  }
  .chat-app .people-list.open {
      left: 0
  }
  .chat-app .chat {
      margin: 0
  }
  .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0
  }
  .chat-app .chat-history {
      height: 300px;
      overflow-x: auto
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
      height: 650px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: 600px;
      overflow-x: auto
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
      height: 480px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: calc(100vh - 350px);
      overflow-x: auto
  }
}



#title {
  background: linear-gradient(-45deg, #1BFFFF,  #2E3192,  #38EF7D, #11998E);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  height: 80vh, 200vh;
  height: auto;
}

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: #A8DF8E; }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }



.panel {
border: none;
box-shadow: none;
}

.panel-heading {
border-color:#eff2f7 ;
font-size: 16px;
font-weight: 300;
}

.panel-title {
color: #2A3542;
font-size: 14px;
font-weight: 400;
margin-bottom: 0;
margin-top: 0;
font-family: 'Open Sans', sans-serif;
}

/*product list*/

.prod-cat li a{
border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
color: #3b3b3b;
}

.prod-cat li ul {
margin-left: 30px;
}

.prod-cat li ul li a{
border-bottom:none;
}
.prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
background: none;
color: #ff7261;
}

.pro-lab{
margin-right: 20px;
font-weight: normal;
}

.pro-sort {
padding-right: 20px;
float: left;
}

.pro-page-list {
margin: 5px 0 0 0;
}

.product-list img{
width: 100%;
border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
position: relative;
}
.adtocart {
background: #fc5959;
width: 50px;
height: 50px;
border-radius: 50%;
-webkit-border-radius: 50%;
color: #fff;
display: inline-block;
text-align: center;
border: 3px solid #fff;
left: 45%;
bottom: -25px;
position: absolute;
}

.adtocart i{
color: #fff;
font-size: 25px;
line-height: 42px;
}

.pro-title {
color: #5A5A5A;
margin-top: 20px;
font-size: 16px;
}

.product-list .price {
color:#fc5959 ;
font-size: 15px;
}

.pro-img-details {
margin-left: -15px;
}

.pro-img-details img {
width: 100%;
height: auto;   
}


.pro-d-title {
font-size: 16px;
margin-top: 0;
display: inline-block;
}

.product_meta {
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
padding: 10px 0;
margin: 15px 0;
}

.product_meta span {
display: block;
margin-bottom: 10px;
}
.product_meta a, .pro-price{
color:#fc5959 ;
}

.pro-price, .amount-old {
font-size: 18px;
padding: 0 10px;
}

.amount-old {
text-decoration: line-through;
}

.quantity {
width: 120px;
}

.pro-img-list {
margin: 10px 0 0 -15px;
width: 100%;
display: inline-block;
}

.pro-img-list a {
float: left;
margin-right: 10px;
margin-bottom: 10px;
}

.pro-d-head {
font-size: 18px;
font-weight: 300;
}


.footer {
background:#232a34;
padding-bottom: 50px;
padding-top: 80px;
}
.footer_menu {
margin-bottom: 20px;
}
.footer_menu ul {
list-style: none;
text-align: center;
}
.footer_menu ul li{display: inline-block;}
.footer_menu ul li a {
color:#fff;
padding: 0 10px;
-webkit-transition: 0.3s;
transition: 0.3s;
}
.footer_menu ul li a:hover{color:#554c86;}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{margin-bottom:40px;}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}
@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}
.footer_profile ul li a img{width:60px;}

.footer_profile ul li a {
background: #554c86;
width: 40px;
height: 40px;
display: block;
text-align: center;
margin-right: 5px;
border-radius: 50%;
line-height: 40px;
box-sizing: border-box;
text-decoration: none;
-webkit-transition: .3s;
transition: .3s;
color: #fff;
}
.footer_copyright {
margin-bottom: 20px;
text-transform: uppercase;
font-size: 12px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
color: #fff;
}
















.container_product{
background: #FFF;
}


.receipt-content .logo a:hover {
text-decoration: none;
color: #7793C4; 
}

.receipt-content .invoice-wrapper {
background: #FFF;
border: 1px solid #CDD3E2;
box-shadow: 0px 0px 1px #CCC;
padding: 40px 40px 60px;
margin-top: 0px;
border-radius: 4px; 
}

.receipt-content .invoice-wrapper .payment-details span {
color: #A9B0BB;
display: block; 
}
.receipt-content .invoice-wrapper .payment-details a {
display: inline-block;
margin-top: 5px; 
}


.receipt-content .invoice-wrapper .line-items .print a:hover {
text-decoration: none;
border-color: #333;
color: #333; 
}


@media (min-width: 1200px) {
.receipt-content .container {width: 900px; } 
}



.receipt-content .invoice-wrapper .intro {
line-height: 25px;
color: #444; 
}

.receipt-content .invoice-wrapper .payment-info {
margin-top: 25px;
padding-top: 15px; 
}

.receipt-content .invoice-wrapper .payment-info span {
color: #A9B0BB; 
}

.receipt-content .invoice-wrapper .payment-info strong {
display: block;
color: #444;
margin-top: 3px; 
}

@media (max-width: 767px) {
.receipt-content .invoice-wrapper .payment-info .text-right {
text-align: left;
margin-top: 20px; } 
}
.receipt-content .invoice-wrapper .payment-details {
border-top: 2px solid #EBECEE;
margin-top: 30px;
padding-top: 20px;
line-height: 22px; 
}


@media (max-width: 767px) {
.receipt-content .invoice-wrapper .payment-details .text-right {
text-align: left;
margin-top: 20px; } 
}
.receipt-content .invoice-wrapper .line-items {
margin-top: 40px; 
}
.receipt-content .invoice-wrapper .line-items .headers {
color: #A9B0BB;
font-size: 13px;
letter-spacing: .3px;
border-bottom: 2px solid #EBECEE;
padding-bottom: 4px; 
}
.receipt-content .invoice-wrapper .line-items .items {
margin-top: 8px;
border-bottom: 2px solid #EBECEE;
padding-bottom: 8px; 
}
.receipt-content .invoice-wrapper .line-items .items .item {
padding: 10px 0;
color: #696969;
font-size: 15px; 
}
@media (max-width: 767px) {
.receipt-content .invoice-wrapper .line-items .items .item {
font-size: 13px; } 
}
.receipt-content .invoice-wrapper .line-items .items .item .amount {
letter-spacing: 0.1px;
color: #84868A;
font-size: 16px;
}
@media (max-width: 767px) {
.receipt-content .invoice-wrapper .line-items .items .item .amount {
font-size: 13px; } 
}

.receipt-content .invoice-wrapper .line-items .total {
margin-top: 30px; 
}

.receipt-content .invoice-wrapper .line-items .total .extra-notes {
float: left;
width: 40%;
text-align: left;
font-size: 13px;
color: #7A7A7A;
line-height: 20px; 
}

@media (max-width: 767px) {
.receipt-content .invoice-wrapper .line-items .total .extra-notes {
width: 100%;
margin-bottom: 30px;
float: none; } 
}

.receipt-content .invoice-wrapper .line-items .total .extra-notes strong {
display: block;
margin-bottom: 5px;
color: #454545; 
}

.receipt-content .invoice-wrapper .line-items .total .field {
margin-bottom: 7px;
font-size: 14px;
color: #555; 
}

.receipt-content .invoice-wrapper .line-items .total .field.grand-total {
margin-top: 10px;
font-size: 16px;
font-weight: 500; 
}

.receipt-content .invoice-wrapper .line-items .total .field.grand-total span {
color: #20A720;
font-size: 16px; 
}

.receipt-content .invoice-wrapper .line-items .total .field span {
display: inline-block;
margin-left: 20px;
min-width: 85px;
color: #84868A;
font-size: 15px; 
}

.receipt-content .invoice-wrapper .line-items .print {
margin-top: 50px;
text-align: center; 
}

.payment-methods{
margin-top: 20px, 20px;
}

.col-md-1{
margin-top: 10px;
}

.receipt-content .invoice-wrapper .line-items .Place_order a i {
margin-right: 2px;

font-size: 14px; 
}

.Place_order{
margin-right: 650px, 800px;
}

.receipt-content .footer {
margin-top: 40px;
margin-bottom: 110px;
text-align: center;
font-size: 12px;
color: #969CAD; 
}                    






/*footer*/
.col_white_amrc {
  color: #ccc;
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #ccc;
}

.footer_ul_amrc li a:hover {
  color: #b6fffa;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
  margin-top: 200px;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.social_footer_ul li a:hover {
  color: #b6fffa;
  border: 1px solid #b6fffa;
  text-decoration: none;
}

.notification-modal {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #DF826C;
padding: 20px;
border: 1px solid #ccc;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 1000;
}
.body{
  background-color: #23a6d5;
}
